<!--
  Generated template for the RemoteWorkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="darkmode">
    <ion-title padding-left>For your action</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
        Sales tax return filing date filing date extended
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-content>
          GST rules updated
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-content>
    Cancellation of application is not possible once the payment has been made. No refunds will be given except in the event of cancellation or non- performance of service by www.msmeregistration.org.
    GST rules updated
        </ion-card-content>
      </ion-card>
    <ion-fab right bottom >
        <button ion-fab color="royal"><ion-icon class="fa fa-comments"></ion-icon></button>
      </ion-fab>
</ion-content>
