<!-- Generated template for the PopoverComponent component -->
<ion-list  *ngFor="let item of popoverItemChat" no-padding>
    <ion-item no-lines >
        {{item.itemName}}
      </ion-item>
</ion-list>


