<!--
  Generated template for the TrainingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="darkmode">
    <ion-title padding-left>Training</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
      <ion-card-header>
        February 2020
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row class="header">
            <ion-col col-4>Day</ion-col>
            <ion-col col-8>Event</ion-col>
          </ion-row>
          <ion-row>
              <ion-col col-4>Tue 4</ion-col>
              <ion-col col-8>CCTM-31st Batch</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4>Wed 5</ion-col>
                <ion-col col-8>ACCIQC-11th Batch</ion-col>
              </ion-row>             
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
          March 2020
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row class="header">
              <ion-col col-4>Day</ion-col>
              <ion-col col-8>Event</ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-4>Tue 4</ion-col>
                <ion-col col-8>CCTM-31st Batch</ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-4>Wed 5</ion-col>
                  <ion-col col-8>ACCIQC-12th Batch</ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-4>Thur 18</ion-col>
                    <ion-col col-8>CCAM-78st Batch</ion-col>
                  </ion-row>
                  <ion-row>
                      <ion-col col-4>Fri 19</ion-col>
                      <ion-col col-8>CCTM-62st Batch</ion-col>
                    </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header>
            April 2020
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row class="header">
                <ion-col col-4>Day</ion-col>
                <ion-col col-8>Event</ion-col>
              </ion-row>
              <ion-row>
                  <ion-col col-4>Wed 4</ion-col>
                  <ion-col col-8>CCTM-34st Batch</ion-col>
                </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
</ion-content>
