page-training {
    .card-md{
        border-radius: 10px;
        background-color:#232a32 !important;
    }
    .card-header-md{   
        background-color: map-get($colors,primary ) !important;     
        color:#fff !important;
    }
    .card-content-md{
        color:#fff !important;
    }
    .header{
        color:#fc2e90 !important;
    }
}
