page-project {
.card-header-md{
    padding:10px !important;
    color:#fff !important;
}
.card-content-md{
    color:#fff !important;
    font-size:22px !important;
}
h4{
    color:#fff !important;
    //font-weight: 200 !important;
}
h5{
    color:#fff !important;
    font-weight: 200 !important;
}
.card-md{
    width:100%;
    height: 100%;
    margin:0px;
    border-radius: 10px;
    background-color:#232a32 !important;
}

.chatBtn{
    margin-top:20px;
    margin-left:20px !important;
}
.msngr .label-md{
    color:#fff;
    font-size: 2rem;
    font-weight: 500;
}
.msngr .item-md{   
    background-color: #29B6F6;
}
.userImg{
    width: 25%;
    margin: 5% 38%;
}
.homeBtn{
    font-size: 1.8em;
    color:#ffffff;
}
.headerButtonpadding{
    padding-right: 20px;
}
.meet{
    font-size: 0.8em;
    padding-left: 4px;

}
.label-md{
    margin:0px;
}
.grid {
    padding: 0px;
}
.online{
    width:10px;
    height: 10px;
    background-color: #4CAF50;
    border-radius: 50%;
    margin-top: 22px;
}
.offline{
    // font-size: 15px;
    // color:#F44336;
    width:10px;
    height: 10px;
    background-color: rgb(78, 78, 78);
    border-radius: 50%;
    margin-top: 22px;
}
.ionButton{
    border-radius: 50% !important;
    border: 1px solid !important;
    width: 12% !important;
    height: 68% !important;
    margin-top: 5px !important;
    padding-top: 5px !important;
}
.card{
    border-radius: 10px;
}
.list-md{
    margin:0px;
}
.trashColor{
    color:#b71c1c;
}


// Animate CSS
.animated {
    animation-duration: 500ms;
    animation-fill-mode: both;
}
// .animated.infinite {
//     animation-iteration-count: infinite;
// }
// .animated.hinge {
//     animation-duration: 2s;
// }
// .animated.flipOutX,
// .animated.flipOutY,
// .animated.bounceIn,
// .animated.bounceOut {
//     animation-duration: .75s;
// }
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fadeIn {
    animation-name: fadeIn;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}
.fadeInDown {
    animation-name: fadeInDown;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
.fadeOut {
    animation-name: fadeOut;
}
@keyframes fadeOutUp {
    from {
        opacity: 1;  
        transform: none;    
        
    }
    to {
        opacity: 0;        
        transform: translate3d(0, 20%, 0);  
    }
}
.fadeOutUp {
    animation-name: fadeOutUp;
}

.fadeInDown .list{
    padding:13px 0;
    border:1px 
}
.ion-list-border .item-inner{
    border-bottom: 1px solid #dedede !important;
}

.searchAnimate{
animation-duration: 0.3s;
}
.searchExpand{
    animation-name:searchExpand;
}
.searchCollapse{
    animation-name:searchCollapse;
}
@keyframes searchExpand {
    from {    
        transform:scaleY(0);      
        
    }
    to {
        transform:scaleY(1);  
    }
}
@keyframes searchCollapse {
    from {    
        transform:scaleY(1);      
        
    }
    to {
        transform:scaleY(0);  
    }
}
}
