<!--
  Generated template for the ProjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="darkmode">   
          <ion-title padding-left>MSME Community</ion-title>
  </ion-navbar> 
</ion-header>
<ion-content padding>  
    <ion-item color="darkmode">
        <ion-label>State</ion-label>
        <ion-select [(ngModel)]="state">
          <ion-option value="TN">TamilNadu</ion-option>
          <ion-option value="kerala">Kerala</ion-option>
          <ion-option value="AP">Andhra Pradesh</ion-option>
          <ion-option value="Karnataka">Karnataka</ion-option>
          <ion-option value="Mum">Mumbai</ion-option>
          <ion-option value="UP">Uttar Pradesh</ion-option>
          <ion-option value="MP">Madhya Pradesh</ion-option>
        </ion-select>
      </ion-item>
<ion-grid>
  <ion-row>
    <ion-col>
        <ion-card>
          <ion-card-header text-center>Total MSMEs</ion-card-header>
          <ion-card-content text-center>
              112,227
          </ion-card-content>
        </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
            <ion-card-header text-center>Total Employment </ion-card-header>
          <ion-card-content text-center>
              621,423
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
<img src="../../assets/imgs/doughNew.png">

<canvas #lineCanvas1></canvas>
<canvas #barCanvas></canvas>

       
      
        
  




    <!-- <ion-item color="darkmode">
        <ion-label>State</ion-label>
        <ion-select [(ngModel)]="state">
          <ion-option value="TN">TamilNadu</ion-option>
          <ion-option value="kerala">Kerala</ion-option>
          <ion-option value="AP">Andhra Pradesh</ion-option>
          <ion-option value="Karnataka">Karnataka</ion-option>
          <ion-option value="Mum">Mumbai</ion-option>
          <ion-option value="UP">Uttar Pradesh</ion-option>
          <ion-option value="MP">Madhya Pradesh</ion-option>
        </ion-select>
      </ion-item>
      <ion-item color="darkmode">
          <ion-label>District</ion-label>
          <ion-select [(ngModel)]="district">
            <ion-option value="ch">Chennai</ion-option>
            <ion-option value="cmbt">Coimbatore</ion-option>
            <ion-option value="vlr">Vellore</ion-option>
            <ion-option value="tvnm">Thiruvannamalai</ion-option>
            <ion-option value="mad">Madurai</ion-option>
            <ion-option value="tnvl">Thirunelveli</ion-option>
            <ion-option value="kkmr">Kanyakumari</ion-option>
          </ion-select>
        </ion-item> -->
    
     
   <ion-grid>
     <!--<ion-row>
      <ion-col col-6>
          <select placeholder="Select State">
            <option value="TN">TamilNadu</option>
            <option value="kerala">Kerala</option>
            <option value="AP">Andhra Pradesh</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Mum">Mumbai</option>
            <option value="UP">Uttar Pradesh</option>
            <option value="MP">Madhya Pradesh</option>
          </select>
      </ion-col>
      <ion-col col-6>            
            <select placeholder="Select City">
              <option value="ch">Chennai</option>
              <option value="cmbt">Coimbatore</option>
              <option value="vlr">Vellore</option>
              <option value="tvnm">Thiruvannamalai</option>
              <option value="mad">Madurai</option>
              <option value="tnvl">Thirunelveli</option>
              <option value="kkmr">Kanyakumari</option>
            </select>
        </ion-col>
    </ion-row>  -->
  </ion-grid>
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-6>

      </ion-col>
      <ion-col col-6 class="msmeDetails">
        <h4>Total MSMEs</h4>
        <h5>240</h5>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6>
  
        </ion-col>
        <ion-col col-6 class="msmeDetails">
          <h4>Total Revenue </h4>
          <h5>5Cr.</h5>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col col-6>
    
          </ion-col>
          <ion-col col-6 class="msmeDetails">
            <h4>Revenue from SC/ST</h4>
            <h5>2Cr.</h5>
          </ion-col>
        </ion-row>
  </ion-grid> -->

  <ion-fab right bottom >
      <button ion-fab color="royal"><ion-icon class="fa fa-comments"></ion-icon></button>
    </ion-fab>
</ion-content>
