<!--
  Generated template for the GrievancePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="darkmode">
    <ion-title padding-left>Grievance</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item color="darkmode">
          <ion-label stacked>Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      
        <ion-item color="darkmode">
          <ion-label stacked>MSME Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item color="darkmode">
            <ion-label stacked>Mobile Number</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item color="darkmode">
              <ion-label stacked>Email ID</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item color="darkmode">
                <ion-label stacked>Grievance Category</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item color="darkmode">
                  <ion-label stacked>Grievance Description</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>

      
      </ion-list>
      <button ion-button  color="royal" float-right>Submit</button>
      <ion-fab right bottom >
          <button ion-fab color="royal"><ion-icon class="fa fa-comments"></ion-icon></button>
        </ion-fab>
</ion-content>
