page-dash-board {
ion-title{
    margin-left:28% !important;

}
.dashLabel ion-label{
    color: rgb(238, 238, 238);
    white-space:inherit !important;
    text-align: center !important;
    margin:0px !important;
}

.dashLabel{
    background-color:#232a32 !important;
    padding-left: 0px !important;
}

.card-md{
    width:100%;
    height: 100%;
    margin:0px;
    border-radius: 10px;
    background-color:#232a32 !important;
}
    
    .cardFont{
        font-size: 2em;
    }
  
}
