<!--
  Generated template for the DashBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="darkmode" hideBackButton>
      <button ion-button icon-only menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Dashboard</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content padding>    
  <ion-grid>
    <ion-row>
      <ion-col col-6  *ngFor="let menu of cardMenus; let i=index" (click)="navigateComponent(menu)">
          <ion-card text-center>    
              <ion-card-content>
                <ion-card-title >                   
                    <button ion-button large clear [color]="menu.color">
                        <ion-icon class="{{menu.icon}} cardFont"  ></ion-icon>
                    </button>
                    <ion-item class="dashLabel">
                        <ion-label>{{menu.title}}</ion-label>
                    </ion-item>
                </ion-card-title>               
              </ion-card-content> 
            </ion-card>
      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>
