// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";
$font-pathfa: "../node_modules/font-awesome/fonts";
$fa-font-path: $font-pathfa;



// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: (
  primary: #4c6df9,
  light: #FAFAFA,
  stable: #F5F5F5,
  positive: #3F51B5,
  calm: #2196F3,
  //balanced: #4CAF50,
  //balanced:#4592a7,
  balanced:#29B6F6,
  energized:#FFC107,
  //assertive: #F44336,
  assertive:#b71c1c,
  royal:  #673AB7,
  dark:  #212121,
  orange:#e65100,
  lightOrange:#ffa72b,

  messenger:#41bf63,
  home:#c73131,
  profile:#7634bd,
  loa:#19ada0,
  project:#3669ca,
  contacts:#e0781b,
  
  darkmode: #15181a
  
   //primary: #4c6df9,
  // secondary: #5b5ef4,
  // danger: #f53d3d,
  // light: #75C4FD,
  // dark: #0039a2



  // primary:    #488aff,
  // secondary:  #32db64,
  // danger:     #f53d3d,
  // light:      #f4f4f4,
  // dark:       #222,
  // CNSI:       #025e51
  
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
@import "../node_modules/font-awesome/scss/font-awesome.scss";