// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.avatar{
    width: 70x;
    height: 70px;
    display: inline-block;
    border-radius: 50%;
    //box-shadow: inset 0 0 10rem rgba(0,0,0,.25), 0 0 4rem rgba(255,255,255,.45);
    img {
      border-radius: 50%;
    }   
}
.margin-top10px{
    margin-top:10px;
    margin-left: 15px;
}
.swengr{
    color:#ffffff;
    margin-left: 15px;
}
.menu .item{
    background-color: #333;
}
.menu .scroll-content{
    background-color: #333;
}

.meet.item{
    background-color: #29B6F6;
}
.meet.item.item-md .checkbox-md{
    margin: 9px 10px 9px 4px !important;
}
.edit{
    font-size: 18px;
    color: #fff;
}
.logout button{
    padding-left: 50px;
}
.menuPages .text{
    font-size: 17px;
}
.menu .cardFont{
    font-size: 1.5em;
    color:#fff;
}

.commonFooter .homeBtn{
    font-size: 1.8em;
    color:#ffffff;
}
.commonFooter .footerButtonpadding{
    padding-right: 66px !important;
}
.scroll-content{
    background-color:map-get($colors, darkmode) !important;
}